/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/report
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Http/Controllers/Auth
/app/User.php
/tests/Unit/ExampleTest.php
/tests/Feature/ExampleTest.php
/resources
.editorconfig
package.json
webpack.mix.js
.styleci.yml
/public
/app/Http/Middleware/OrderApiAuthentication.php
/storage/api-docs
/storage/app
/storage/framework
/storage/logs
